.container {
  border : 1px solid #027efa;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.searchbarContainer {
  margin: 0 2em;
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.searchbar {
  outline: none;
  border: none;
  padding: 0.5em;
  width: 20em;
  font-size: 1em;
  background-color: transparent;
  border-bottom: 2px solid #318ce7;
  font-weight: 400;
  color: #fff;
  font-family: "Poppins", serif;
}

.searchbar:focus {
  border: 2px solid #318ce7;
}

.title {
  font-family: "Poppins", serif;
  font-weight: 400;
  color: #027efa;
  margin: 0 1em;
  padding: .5em;
}

.noRecords {
  margin : 2em;
  padding: 3em;
  color: #dcdcdc;
  background-color: #3d3d3d;;
  font-family: "Poppins", serif;
  font-weight: 300;
}

.title {
  font-family: "Poppins", serif;
  font-weight: 400;
  color: #027efa;
  margin: 0 1em;
  padding: .5em;
}


.select {
  outline: none;
  border: none;
  padding : .35em;
  background: #027efa;
  color: #fff;
  margin : .25em;
}