body{
  font-family: "Poppins", serif;
}

.container {
  height: 80vh;
  padding: 2em;
}

.tabsContainer {
  display: flex;
  justify-content: start;
}

.tabButton {
  font-family: "Poppins", serif;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.25em 0.25em 0 0;

  cursor: pointer;
}
.tabButton:last-child {
  margin: 0 0.5em;
}

.tabButton.active {
  background-color: #007bff;
  color: white;
  font-weight: 600;
}

.active {
  font-weight: 600;
  background-color: #007bff;
  color: white;
}
